$darkenGradient: linear-gradient(rgba(0, 0, 0, 0.4));
$greenMainColor: rgb(53, 59, 51);

@mixin button-animation {
  transition: transform 0.3s ease;
  box-shadow: 0 12px 32px rgba(0, 0, 0, 0.85), 0 2px 8px rgba(0, 0, 0, 0.5);
  &:hover {
    transform: scale(1.05);
  }
}

body {
  background-image: url("../../img/hoi4bg.jpeg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  height: 100vh;

  @media screen and (max-width: 768px) {
    background-position: center;
  }
}

#hoidle-logo {
  max-width: 30%;
  height: auto;
  background: $darkenGradient;
}

#profile-button {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: $greenMainColor;
  border: 1px solid white;
  color: white;
  text-decoration: none;
  font-size: 20px;

  @include button-animation;
}

.center-element {
  text-align: center;
  flex: 1;
}

.top-right {
  text-align: right;
}

#guess-form {
  max-width: 50%;
  position: relative;

  @media screen and (max-width: 768px) {
    max-width: 100%;
  }
}

#guess-button {
  background-color: darken($greenMainColor, 2%);
  border: 1px solid white;

  @include button-animation;
}
#guess-input {
  width: 100%;
  padding: 0.5rem;
  border-radius: 3px;
  border: 1px solid $greenMainColor;
  font-size: 16px;
  background-color: lighten($greenMainColor, 60%);

  &:focus {
    outline: none;
    box-shadow: 0 0 5px rgb(0, 0, 0);
  }
}

.suggestions {
  position: absolute;
  width: 100%;
  top: 100%;
  left: auto;
  max-height: 300px;
  overflow: scroll;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 3px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  margin-top: 0.5rem;
}

#guess-container {
  position: absolute;
  width: 100%;
  top: 100%;
}

.fade-out-keep-space {
  animation: fadeOutVisibility 1s forwards;
}

@keyframes fadeOutVisibility {
  0% {
    opacity: 1;
    visibility: visible;
  }
  99% {
    opacity: 0;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

.suggestion-item {
  cursor: pointer;
  &hover {
    background-color: rgba(0, 0, 0, 0.1);
  }
}

.win-ad {
  margin: 6rem;

  background-color: lighten($greenMainColor, 10%);
  padding: 20px;
  border: 3px solid darken($greenMainColor, 5%);
  color: rgb(212, 247, 212);
  border-radius: 1rem;
  box-shadow: 0 4px 8px black;

  h2 {
    margin-bottom: 10px;
  }

  .mode-img {
    max-height: 20rem;
    width: auto;
    border-radius: 10px;

    @include button-animation();
  }
}

#loading-overlay {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99999;
}

.loader {
  width: fit-content;
  font-size: 40px;
  font-family: monospace;
  font-weight: bold;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 1px white;
  --g: conic-gradient(white 0 0) no-repeat text;
  background: var(--g) 0, var(--g) 1ch, var(--g) 2ch, var(--g) 3ch, var(--g) 4ch,
    var(--g) 5ch, var(--g) 6ch;
  background-position-y: 100%, 0;
  animation: l16 2s linear infinite alternate;
}
.loader:before {
  content: "Loading";
}
@keyframes l16 {
  0% {
    background-size: 1ch 0, 1ch 0, 1ch 0, 1ch 0, 1ch 0, 1ch 0, 1ch 0;
  }
  14.28% {
    background-size: 1ch 100%, 1ch 0, 1ch 0, 1ch 0, 1ch 0, 1ch 0, 1ch 0;
  }
  28.57% {
    background-size: 1ch 100%, 1ch 100%, 1ch 0, 1ch 0, 1ch 0, 1ch 0, 1ch 0;
  }
  42.85% {
    background-size: 1ch 100%, 1ch 100%, 1ch 100%, 1ch 0, 1ch 0, 1ch 0, 1ch 0;
  }
  57.14% {
    background-size: 1ch 100%, 1ch 100%, 1ch 100%, 1ch 100%, 1ch 0, 1ch 0, 1ch 0;
  }
  71.43% {
    background-size: 1ch 100%, 1ch 100%, 1ch 100%, 1ch 100%, 1ch 100%, 1ch 0,
      1ch 0;
  }
  85.71% {
    background-size: 1ch 100%, 1ch 100%, 1ch 100%, 1ch 100%, 1ch 100%, 1ch 100%,
      1ch 0;
  }
  100% {
    background-size: 1ch 100%, 1ch 100%, 1ch 100%, 1ch 100%, 1ch 100%, 1ch 100%,
      1ch 100%;
  }
}
