body {
  background-image: url("assets/hoi4bg.jpeg");
  background-size: cover;

  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center 0;
  @media (max-width: 768px) {
    background-position: center;
  }
}
